body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ece2d6;  /* ece2d6 */
    display: flex;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left {
    flex: 1;
    overflow: hidden;
}

.right {
    flex: 1;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-right: 20px; /* 調整右邊距，根據實際需求進行調整 */
}

form {
    max-width: 300px;
    margin: 20px auto ;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none; /* 移除邊框 */
    border-bottom: 1px solid #ddd; /* 可以添加底部的分隔線，以提供一些視覺效果 */
    outline: none; /* 移除點擊時的輪廓 */
}

#verificationCode {
    font-size: x-large;
    font-weight: bolder;
    color: #eb2424;
}

#verificationInput {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(217, 214, 214); 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
